# Project exclude paths
/.gradle/
/Music Advisor/task/build/
/Music Advisor/task/out/
/Music Advisor/task/out/production/classes/
/Problems/Find mistake/out/
/Problems/Find mistake/out/production/classes/